@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wrsy5w');
  src:  url('fonts/icomoon.eot?wrsy5w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wrsy5w') format('truetype'),
    url('fonts/icomoon.woff?wrsy5w') format('woff'),
    url('fonts/icomoon.svg?wrsy5w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-right:before {
  content: "\ea42";
  font-family: 'icomoon';
}
.icon-circle-left:before {
  content: "\ea44";
  font-family: 'icomoon';
}
.icon-radio-unchecked:before {
  content: "\ea56";
  font-family: 'icomoon';  
}
